

    <div class="container">

      <div class="masthead">
        <h3 class="muted">ACE DIAGNOSTIX</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Updates</a></li>
                <li><a href="#">Join Now</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <p class="lead">Associate Fellow of Industrial Health (AFIH) is the primary association for the special trained group of Occupational health Professionals serving the workplace. Our Aim is create a positive economic impact through worker health and well-being leading to healthy workers performance AFIH Group is dedicated to advancing and maximizing the health, safety and productivity of domestic and global workforces. The mission of AFIH is to advance the profession of occupational and environmental health Professionals through education and research, professional practice/ethics, communications, governmental policies and alliances.</p>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h4>Dr. Sujit R. Shukla</h4>
          <p> 
          	MBBS(KEMH), AFIH(CLI)<br>
          	20 years experience of practice in Industrial Area.
          </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h4>Dr. Sunil Kode</h4>
          <p>M.D (Pathology), AFIH(CLI)<br>
          	25 years of experience in diagonostic services
          </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h4>Dr. Prakash Kulkarni</h4>
          <p>
          	M.D (MED), AFIH(CLI)<br>
          	35 years of experience in industrial health practice. Doing health checkup of numerious industries in Karad.
          </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>© Company 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="justified-nav_files/jquery.js"></script>
    <script src="justified-nav_files/bootstrap-transition.js"></script>
    <script src="justified-nav_files/bootstrap-alert.js"></script>
    <script src="justified-nav_files/bootstrap-modal.js"></script>
    <script src="justified-nav_files/bootstrap-dropdown.js"></script>
    <script src="justified-nav_files/bootstrap-scrollspy.js"></script>
    <script src="justified-nav_files/bootstrap-tab.js"></script>
    <script src="justified-nav_files/bootstrap-tooltip.js"></script>
    <script src="justified-nav_files/bootstrap-popover.js"></script>
    <script src="justified-nav_files/bootstrap-button.js"></script>
    <script src="justified-nav_files/bootstrap-collapse.js"></script>
    <script src="justified-nav_files/bootstrap-carousel.js"></script>
    <script src="justified-nav_files/bootstrap-typeahead.js"></script>

  
